.btn {
    margin: 10px;
    border-radius: 10px;
    min-width: 150px;
  }

.editdiv {
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border: solid black 2px;
    border-radius: 15px;
    background-color:rgba(59, 80, 90, 0.3)
}

.form-control {
    width: 50%;
    float: none;
    display: block;
    margin-bottom: 15px;
  }
