<button class="btn" (click)="searchPostClick()"> Search post </button>
<button class="btn" (click)="addPostClick()"> Add post </button>
<div *ngIf="showSearch">
  <div id="search-component">
    <h4>Search post:</h4>
    <input class="searchBox" #searchBox placeholder="Search text" (keyup)="search(searchBox.value)" required minlength="3" name="searchBox"
      [(ngModel)]="searchModel" />
    <div *ngIf="searchBox.invalid && (searchBox.dirty || searchBox.touched)">
      <div *ngIf="searchBox.errors.minlength">
        Search value must be at least 3 characters long.
      </div>
    </div>
  </div>
</div>

<div *ngIf="showAdd">
  <label class="labelIn">Title:
    <input #titleInput required minlength="5" />
  </label>
  <label class="labelIn"> Body:
    <textarea #bodyInput rows="4" cols="100" required minlength="5"></textarea>
  </label>
  <button class="btn" (click)="addPost(titleInput.value, bodyInput.value); titleInput.value=''; bodyInput.value=''">
    Add
  </button>
</div>

<button (click)="limit = limit + 10"> click me!</button>
<div *ngFor="let itPost of (posts | myfilter: searchModel | slice:0:limit)">
  <app-post [post]="itPost"></app-post>
</div>