.btn {
    margin: 10px;
    border-radius: 10px;
    min-width: 150px;
  }

.postdiv {
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border: solid black 4px;
    border-radius: 15px;
}


.editTitleInput {
    width: 70%;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.editBodyInput {
    width: 70%;
    margin-bottom: 10px;
}