<div *ngIf="post" class="postdiv">
  <h2>#{{post.id}} {{post.title | titlecase}}</h2>
  <h3>{{post.body}}</h3>

  <button class="btn btn-primary" type="button" (click)="displayComments(post.id)"> {{btnDisplayValue}} </button>

  <a routerLink="/forum/post/{{post.id}}">
    <button class="btn btn-primary" type="button">Edit</button>
  </a>
  <button class="btn btn-primary" type="button" (click)="deletePost(post.id)"> Delete </button>

  <div *ngFor="let itComm of post.comms">
    <app-comm [comm]="itComm"></app-comm>
  </div>
</div>