.btn {
    margin: 10px;
    border-radius: 10px;
    min-width: 150px;
  }

.postdiv {
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border: solid black 2px;
    border-radius: 15px;
    background-color:rgba(59, 80, 90, 0.3)
}

.postdiv:first-child {
    margin-top: 0px;
}
